<div class="creditos">
  <p>Desenvolvido por:</p>
  <p>Fernando Franchi Gonsales</p>
  <img src="https://www.flaticon.com/br/premium-icon/icons/svg/2335/2335321.svg" alt="HTML tutorial" style="width:20px;height:20px;"> &nbsp;<a target="_blank" href= "https://www.linkedin.com/in/fernando-fgonsales/">LINKEDIN</a> <p></p>
  <img src="https://www.flaticon.com/svg/vstatic/svg/1409/1409946.svg?token=exp=1620721446~hmac=2fd1b0cd52bdb1b738f0646ff7ccfc1e" alt="HTML tutorial" style="width:20px;height:20px;"> &nbsp;<a target="_blank" href= "https://www.instagram.com/fernando.fgonsales/">INSTAGRAM</a> <p></p>
  <img src="https://www.flaticon.com/premium-icon/icons/svg/3291/3291695.svg" alt="HTML tutorial" style="width:20px;height:20px;"> &nbsp;<a target="_blank" href= "https://github.com/FernandoGonsales">GITHUB</a>
</div>

